<!-- Contenedores para mi pagina web Inicio -->
<div class="contenedor">
    <div class="contenedor-secundario">
        <div class="contenedor-init">
            <div class="bienvenida">
                <h2>¡Bienvenido!</h2>
            </div>
            <div class="texto-ini">
                Puedes ingresar tus notas y guardarlas en las secciones que desees y mantener una clasificación 
                sin perder la comodidad.
            </div>

            <div class="texto-ini">
                ¡No olvides que puedes editar tus notas!
            </div>
        </div>
    </div>
    <!-- Formulario para ingresar las notas -->
    <div class="formulario">
        <div class="form-init">
            <div class="form-contenedor">
                <form action="" class="form-text">

                    <label for="nombreNota">Nombre de la Nota: </label>
                    <br>
                    <input type="text" placeholder=" nota" #titulo>
                    <br><br>

                    <label for="">Escriba: </label>
                    <br>

                    <textarea name="" id="" cols="30" rows="10" placeholder=" escribir" #resenia></textarea>
                    <br><br>

                    <!-- Input desplegable que permite seleccionar una categoria-->
                    <label for="opciones">Sección: </label>
                    <select name="opciones" id="opciones" [(ngModel)]="seccion" placeholder="Seleccione">Seleccione
                        <option value="Tarea">Tarea</option>
                        <option value="Prueba">Prueba</option>
                        <option value="Examen">Examen</option>
                        <option value="Práctica">Práctica</option>
                        <option value="Materia">Materia</option>
                        <option value="Exposicion">Exposicion</option>
                        <option value="otra" id="otra">Otra</option>
                    </select>
                    <br><br>

                    <div *ngIf="mostrarNuevaSeccion()" class="nuevaSeccion" id="nuevaSeccion">
                        <label for="">Nombre de la Sección</label>
                        <br>
                        <input type="text" placeholder=" otra" #otra>
                        <br>
                        <br>

                        <label for="">Ingrese la fecha: </label>
                        <input type="date" #fecha id="fecha" [min]="2023-12-01" [max]="2024-12-31" class="input-fecha">
                        <br><br>

                        <button type="submit" (click)="guardarNuevaSeccion(titulo, resenia, otra, fecha)">Aceptar</button>
                    </div>

                    <div *ngIf="mostrarForm">
                        <label for="">Ingrese la fecha: </label>
                        <input type="date" #fecha id="fecha" [min]="2023-12-01" [max]="2024-12-31" class="input-fecha">
                        <br><br>

                        <button type="submit" (click)="guardarNota(titulo, resenia, fecha)">Aceptar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- Footer de la pagina Inicio-->
    <div class="footer-contenedor">
        <footer>
            <div class="text-footer">
                <H3>Realizado por:</H3>
                <H2>Paúl Mateo Sigua Calle</H2>
                <H3>Universidad Politécnica Salesiana</H3>
            </div>
        </footer>
    </div>
</div>