<!-- Contenedores Principales de la pagina Notas -->
<div class="contenedor">
    <div class="contenedor-titulo">
        <div class="contenedor-init">
            <div class="bienvenida">
                <h2>Aquí están tus notas</h2>
            </div>
        </div>
    </div>

    <div class="contenedor-tareas">
        <div class="contenedor-secundario">
            <div class="columnas">
                <div class="notas-list">
                    <!-- Recorremos la lista materias y obtenemos los datos y los almacenamos en la variable "t" -->
                    <div *ngFor="let l of listaNotas | async" class="notas-cargadas">
                        <a href="" routerLink='/pages/recetas/{{l.uid}}'></a>
                        <H1>{{l.categoria}}</H1>
                        <h2 class="nombre-receta">{{l.titulo}}</h2>
                        <!--img src="https://pbs.twimg.com/media/Citfbt-WgAMMAJZ?format=jpg&name=900x900" alt=""-->
                        <div class="columns">
                            <div class="column">
                                <p>{{l.resenia}}</p>
                    
                            </div>
                            <div class="column">
                                <p>{{l.fecha}}</p>
                            </div>
                        </div>
                        <!-- Contenedor de los botones -->
                        <div class="btn-edit-elim">
                            <!-- Botones para editar y eliminar las notas-->
                            <button class="btn-edit" (click)="editarNota(l)" [disabled]="botonDesac">Editar Nota</button>
                            <button class="btn-elim" (click)="eliminarNota(l)" [disabled]="botonDesac">Eliminar Nota</button>
                        </div>

                        <div class="contenedor-form-edit">
                            <!-- Contenedor del formulario para la edicion de las notas -->
                            <div *ngIf="mostrarFormulario && l == notaEditando" class="form-edit-nota">

                                <!-- Formulario edicion de notas -->
                                <form action="" id="formularioNota" class="form-text">
                                    <label for="nombreNota">Nombre de la Nota: </label>
                                    <br>
                                    <textarea id="titulo" name="titulo" type="text" placeholder=" nota" #titulo
                                        class="titulo-input">{{l.titulo}}</textarea>
                                    <br><br>

                                    <label for="">Escriba: </label>
                                    <br>

                                    <textarea name="resenia" id="resenia" cols="30" rows="10" placeholder=" escribir"
                                        #resenia class="form-textarea">{{l.resenia}}</textarea>
                                    <br><br>

                                    <label for="opciones">Categoría: </label>
                                    <select name="opciones" id="opciones" [(ngModel)]="categoria"
                                        placeholder="Seleccione">
                                        <option value="Tarea">Tarea</option>
                                        <option value="Prueba">Prueba</option>
                                        <option value="Examen">Examen</option>
                                        <option value="Práctica">Práctica</option>
                                        <option value="Materia">Materia</option>
                                        <option value="Exposicion">Exposición</option>
                                    </select>
                                    <br><br>

                                    <label for="">Ingrese la fecha: </label>
                                    <input type="date" #fecha id="fecha" [min]="2023-12-01" [max]="2024-12-31" class="input-fecha">
                                    <br><br>

                                    <button type="submit" (click)="actualizarNota(l)">Guardar</button>
                                    <button type="submit" (click)="cancelarEdicion()">Cancelar</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-contenedor">
        <footer>
            <div class="text-footer">
                <H3>Realizado por:</H3>
                <H2>Paúl Mateo Sigua Calle</H2>
                <H3>Universidad Politécnica Salesiana</H3>
            </div>
        </footer>
    </div>
</div>